.wave__section {
  justify-self: end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 188px;
  position: relative;
  overflow: hidden;
}

.wave__record-block {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wave__record {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wave__animation {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: rotateX(90deg);
  transition: transform 0.8s ease;
}

.wave__still-animation_visible {
  transform: rotateX(45deg);
}

.wave__moving-animation_visible {
  transform: rotateX(180deg);
}
