.wave__section {
  justify-self: end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 188px;
  position: relative;
}

.wave__record-block {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wave__record {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
