.chatContainer {
  flex: 7.25;
  background-color: #fcfcfc;
  padding: 40px 58px;
  max-height: 83.4vh;
  font-family: "Lato";
  font-weight: 400;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 188px 60px;
}
