.header {
  display: flex;
  justify-content: space-between;
  padding: 26.5px 58px;
}

.header__logo {
  /* width: 105px;
  height: 35px; */
  box-sizing: border-box;
}

.header__container {
  display: flex;
  width: 100%;
  margin-left: 36px;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.header__buttons {
  display: flex;
  justify-content: space-between;
}

.header__language {
  padding: 0;
  margin: 0 17px 0 0;
  cursor: pointer;
  background-color: inherit;
  border: none;
  color: rgba(34, 34, 34, 1);
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 19px;
  font-style: normal;
  font-weight: 600;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.header__language::-ms-expand {
  display: none;
}

.header__language:hover {
  color: #b821ff;
}

.header__language:focus {
  outline: none;
}

.header__link {
  margin: 0;
  padding: 0 16px 0 0;
  font-family: "Lato", "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  font-weight: 400;
  color: rgba(42, 42, 42, 1);
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.35s linear;
}

.header__link:hover {
  color: #b821ff;
}

.header__profile {
  width: 24px;
  height: 24px;
  padding: 0;
  background-image: url(../../images/header-profile.svg);
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  align-self: center;
  box-sizing: content-box;
  cursor: pointer;
}

.header__profile:hover {
  background-image: url(../../images/header-profile-hovered.svg);
}
