.header {
  display: flex;
  justify-content: space-between;
  margin: 40px 50px 20px 50px;
}

.header__logo {
  width: 108.51px;
  height: 31.17px;
  box-sizing: border-box;
}

.header__nav {
  display: flex;
  list-style-type: none;
  align-items: center;
  width: calc(100% - 212.5px);
}

.header__link {
  margin: 0;
  padding: 0 16px 0 0;
  font-family: 'Lato', 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.35s linear;
}

.header__link:hover {
  opacity: 80%;
}

.header__profile {
  width: 24px;
  height: 24px;
  align-self: center;
}
