@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

:root {
  margin: 0;
  font-family: "Lato", "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
