.sidebar__message {
  display: flex;
  margin: 12px 0 0 0;
  position: relative;
}

.sidebar__text {
  margin: 0;
  padding: 12px 16px;
  font-family: 'Open Sans', 'Lato', 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-style: normal;
  font-weight: 400;
  color: rgba(42, 42, 42, 1);
  text-align: left;
}

.sidebar__recyclebin-button {
  padding: 0;
  width: 16px;
  height: 16px;
  position: absolute;
  top: calc((100% - 12px)/2);
  right: 8px;
  border: none;
  background-color: transparent;
  background-image: url(../../../../images/sidebar-recyclebinicon_grey.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  transition: opacity 0.35s linear;
}

.sidebar__recyclebin-button:hover {
  background-image: url(../../../../images/sidebar-recyclebinicon_red.svg);
}


